* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    background-color: #0a0a0a;
}

nav ul {
    padding: 5px 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 72px; 
    justify-content: space-between;
    list-style: none; 
}

nav ul li img {
    height: 20px;
    width: auto;
    margin-right: 10px;
    margin-left: 60px;
}

nav ul li {
    display: inline-block;
    position: relative;
    color: white;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
    color: #e2e7e7eb;
}

nav .dropdown-btn {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    width: 180px;
    padding: 10px 0;
    height: auto;
    z-index: 1000; 
}

nav ul li ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    margin: 0 0;
}

nav ul li ul li img {
    height: 25px;
    width: auto;
    margin-left: 2px;
}

nav ul li ul li a {
    text-decoration: none;
    padding: 0;
    color: rgb(63, 51, 51);
    font-size: 14px;
    line-height: 1;
    margin: 0;
    flex-grow: 1;
}

nav .right-items {
    display: flex;
    margin-left: auto;
    margin-right: 60px;
    gap: 20px;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li ul li:hover {
    background-color: #eff4f5;
}

nav ul li ul li:hover img {
    filter: brightness(1.2);
}

nav ul li ul li:hover a {
    color: black;
}

nav .dropdown-1 > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    width: 180px;
    padding: 10px 0;
    height: auto;
}

nav .dropdown-1 ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    margin: 0;
}

nav .dropdown-1 ul li:hover a {
    color: black;
}

nav .dropdown-1:hover > ul {
    display: block;
}

nav .dropdown-get-started ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0; 
    background-color: white;
    width: 180px;
    z-index: 1000;
}

nav .dropdown-get-started ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
}

nav .dropdown-get-started ul li a {
    text-decoration: none;
    padding: 0;
    color: rgb(63, 51, 51);
    font-size: 14px;
    line-height: 1;
    margin: 0;
    flex-grow: 1;
}

nav .dropdown-get-started ul li:hover {
    background-color: #eff4f5;
}

nav .dropdown-get-started ul li a:hover {
    color: black;
}

nav .dropdown-get-started:hover > ul {
    display: block;
}

nav .dropdown-get-started .aa {
    background-color: white;
    color: #0a0a0a;
    border-radius: 5px;
    padding: 8px 15px;
}

nav .dropdown-get-started .aa:hover {
    background-color: #f0f0f0;
    color: black;
}
