/* Basic reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0a0a0a;
}

nav ul {
    padding: 5px 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: space-between;
    list-style: none;
}

nav ul li img {
    height: 20px;
    width: auto;
    margin-right: 10px;
    margin-left: 60px;
}

nav ul li {
    display: inline-block;
    position: relative;
    color: white;
    margin: 0 7px;
}

nav ul li a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
    color: #e2e7e7eb;
}
nav ul li ul li:hover {
    background-color: #eff4f5;
}

nav ul li ul li:hover img {
    filter: brightness(1.2);
}


nav .dropdown-btn,
nav .dropdown-1,
nav .aa {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

nav .dropdown-btn:hover{
    color: #e6eaea;
}

nav .dropdown-checkbox {
    display: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 180px;
    padding: 10px 0;
    height: auto;
    z-index: 1000;
}

nav ul li .dropdown-menu-1 {
    width: 200px;
}

nav ul li ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    margin: 0 0;
}

nav ul li ul li img {
    height: 25px;
    width: auto;
    margin-left: 2px;
}

nav ul li ul li a {
    text-decoration: none;
    padding: 0;
    color: rgb(105, 103, 103) !important;
    font-size: 1rem;
    line-height: 1.7;
    margin: 0;
    flex-grow: 1;
}

nav ul li ul li a:hover{
    color: black !important;
}

nav .dropdown-btn:after {
    content: ' ⮟';
    transition: transform 0.3s ease;
}

nav .dropdown-checkbox:checked + ul {
    display: block;
}

nav .dropdown-checkbox:checked + ul ~ .dropdown-btn:after {
    transform: rotate(180deg);
}


nav .right-items {
    display: flex;
    margin-left: auto;
    gap: 8px;
    align-items: center; 
}


nav .dropdown-get-started ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: 150px;
    z-index: 1000;
}

nav .dropdown-get-started ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
}

nav .dropdown-get-started .aa {
    background-color: white;
    color: #0a0a0a;
    border-radius: 5px;
    padding: 8px 15px;
}

nav .dropdown-get-started ul li a {
    text-decoration: none;
    padding: 0;
    color: rgb(105, 103, 103) !important;
    font-size: 1rem;
    line-height: 1.8;
    margin: 0;
    flex-grow: 1;
}

nav .dropdown-get-started ul li a:hover {
    color: black !important;
}
nav .dropdown-get-started {
    margin-right: 80px;     
}

nav .dropdown-checkbox:checked + ul,
nav .dropdown-1 .dropdown-checkbox:checked + ul,
nav .dropdown-get-started .dropdown-checkbox:checked + ul {
    display: block;
}
nav .dropdown-get-started .dropdown-checkbox:checked + ul {
    display: block;
    width: 150px;
}
